.rdx {
  overflow-x: hidden;

  &-telephone {
    font-size: 10px;
    left: 50%;
    position: absolute;
    top: 30px;
    transform: translateX(-50%);
    z-index: 1;

    @media (min-width: 768px) {
      font-size: 16px;
      top: 35px;
    }

    @media (min-width: 1024px) {
      font-size: 16px;
      left: 80%;
      top: 30px;
    }
    
    @media (min-width: 1920px) {
      font-size: 16px;
      left: 90%;
      top: 62px;
    }

    &--contact {
      color: $light;
    }

    &--number {
      color: $blue;
      text-decoration: none;
    }
  }

  &-banner--text {
    @include BasicGothicProBlackItalic;
    color: $light;
    font-size: 34px;
    margin: 0;
    text-transform: uppercase;
    z-index: 9;

    @media (min-width: 768px) {
      font-size: 55px;
    }
    
    @media (min-width: 1024px) {
      font-size: 64px;
      line-height: 1;
    }

    @media (min-width: 1440px) {
      font-size: 90px;
    }
    
    @media (min-width: 1920px) {
      font-size: 135px;
    }
  }
  
  &-banner--subtext {
    @include BasicGothicProBook;
    color: $light;
    display: none;
    font-size: 10px;
    width: 80%;
    z-index: 9;

    @media (min-width: 1024px) {
      display: block;
      font-size: 14px;
      line-height: 1.5;
      width: 60%;
    }
    
    @media (min-width: 1440px) {
      font-size: 18px;
      line-height: 1.5;
      width: 60%;
    }
    
    @media (min-width: 1920px) {
      font-size: 18px;
      line-height: 1.55;
    }
    
    @media (min-width: 1920px) {
      font-size: 18px;
      line-height: 1.55;
      width: 42%;
    }
    
    @media (min-width: 2560px) {
      font-size: 18px;
      line-height: 1.55;
      width: 45%;
    }
  }

  &-banner--full {
    overflow: hidden;
    position: relative;
    height: 50vh;
    width: 100vw;

    @media (min-width: 1024px) {
      height: 100vh;
    }

    &.-approach {
      background: url('../images/image-functional-training-banner.jpg') top center no-repeat;
      background-size: cover;

      .rdx-banner--full_copy {
        top: 35%;

        @media (min-width: 375px) {
          top: 32%;
          width: 85%;
        }
        
        @media (min-width: 768px) {
          left: 40px;
          top: 310px;
          width: 85%;
        }
        
        @media (min-width: 1024px) {
          left: 40px;
          top: 280px;
          width: 60%;
        }
        
        @media (min-width: 1440px) {
          left: 50px;
          top: 330px;
          width: 60%;
        }
        
        @media (min-width: 1920px) {
          left: 100px;
          top: 450px;
          width: 45%;
        }
      }

      .rdx-banner--text {
        @media (min-width: 375px) {
          font-size: 38px;
        }
        
        @media (min-width: 400px) {
          font-size: 42px;
        }
        
        @media (min-width: 768px) {
          line-height: 1.1;
          font-size: 72px;
        }
        
        @media (min-width: 1440px) {
          line-height: 1.1;
          font-size: 100px;
        }
        
        @media (min-width: 1920px) {
          line-height: 1.1;
          font-size: 130px;
        }
      }
      
      .rdx-banner--subtext {
        display: block;

        @media (min-width: 375px) {
          font-size: 12px;
          line-height: 1.5;
        }
        
        @media (min-width: 768px) {
          font-size: 20px;
          line-height: 1.5;
        }

        @media (min-width: 1024px) {
          font-size: 16px;
          margin: 0;
          width: 70%;
        }
        
        @media (min-width: 1920px) {
          font-size: 18px;
          width: 100%;
        }
      }

      @media (min-width: 1920px) {
        height: 100vh;
      }
    }
    
    &.-contact {
      background: #1ff57a;
      background: -moz-linear-gradient(bottom,  #1ff57a 0%, #08f4ca 100%);
      background: -webkit-linear-gradient(bottom,  #1ff57a 0%,#08f4ca 100%);
      background: linear-gradient(to top,  #1ff57a 0%,#08f4ca 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ff57a', endColorstr='#08f4ca',GradientType=1 );
    }

    &_copy {
      width: 100%;
      left: 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 90%;

      @media (min-width: 768px) {
        left: 50px;
        position: absolute;
        top: 50%;
        width: 70%;
      }

      @media (min-width: 1024px) {
        left: 50px;
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        width: 60%;
      }
      
      @media (min-width: 1440px) {
        left: 70px;
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        width: 60%;
      }
      
      @media (min-width: 1920px) {
        left: 70px;
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        width: 60%;
      }
      
      @media (min-width: 2560px) {
        left: 70px;
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        width: 50%;
      }
    }
  }

  &-banner--video {
    overflow: hidden;
    position: relative;
    width: 100vw;

    @media (min-width: 768px) {
      max-height: 430px;
    }
    
    @media (min-width: 768px) {
      max-height: 575px;
    }
    
    @media (min-width: 1440px) {
      max-height: 810px;
    }
    
    @media (min-width: 1920px) {
      max-height: 100vh;
    }
  }

  &-pillars {
    display: flex;
    justify-content: space-between;

    &--image {
      flex-grow: 1;
      filter: grayscale(100%);
      height: 100px;
      transition: all .25s ease-out;

      @media (min-width: 768px) {
        height: 190px;
      }
      
      @media (min-width: 1440px) {
        height: 300px;
      }
      
      @media (min-width: 1440px) {
        height: 400px;
      }

      &:hover {
        filter: grayscale(0);
      }

      &.-dev {
        background: url('../images/image-functional-training-recovery-nav-hover.jpg') top center no-repeat;
        background-size: cover;
        margin-top: 100px;
        opacity: 0;
        transition: margin-top 1s, opacity 2s;

        &.fade-in {
          margin-top: 0;
          opacity: 1;
        }
      }
      
      &.-rehab {
        background: url('../images/image-functional-training-rehab-nav-hover.jpg') top center no-repeat;
        background-size: cover;
        margin-top: 100px;
        opacity: 0;
        transition: margin-top 1s .25s, opacity 2s .25s;

        &.fade-in {
          margin-top: 0;
          opacity: 1;
        }
      }
      
      &.-recovery {
        background: url('../images/image-functional-training-recovery-nav-hover.jpg') top center no-repeat;
        background-size: cover;
        margin-top: 100px;
        opacity: 0;
        transition: margin-top 1s .5s, opacity 2s .5s;
        
        &.fade-in {
          margin-top: 0;
          opacity: 1;
        }
      }
    }
  }

  &-split {
    display: flex;
    justify-content: space-between;
    flex-flow: column;

    @media (min-width: 1024px) {
      flex-flow: row;
    }

    &--content {
      flex-grow: 1;

      &_image {
        background: url('../images/image-functional-training-recovery-nav-hover.jpg') top center no-repeat;
        background-size: cover;
        height: 50vh;
        margin-top: 100px;
        opacity: 0;
        transition: margin-top 1s .5s, opacity 2s .5s;
        
        &.fade-in {
          margin-top: 0;
          opacity: 1;
        }

        @media (min-width: 1024px) {
          height: 100vh;
          width: 50vw;
        }
      }

      &_desc {
        box-sizing: border-box;
        padding: 25px 30px;
        line-height: 1.5;
        position: relative;
        height: 50vh;
        text-align: center;
        margin-top: 100px;
        opacity: 0;
        transition: margin-top 1s .5s, opacity 2s .5s;
        
        &.fade-in {
          margin-top: 0;
          opacity: 1;
        }

        &-inner {
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
        }

        @media (min-width: 768px) {
          padding: 50px 150px;
        }

        @media (min-width: 1024px) {
          height: 100vh;
          padding: 100px 50px;
          width: 50vw;
        }
      }
      
      &_heading {
        @include BasicGothicProBold;
        color: $light;
        font-size: 28px;
        line-height: 1;
        margin: 0;
        padding: 0;
        text-transform: uppercase;

        @media (min-width: 768px) {
          font-size: 38px;
        }
      }
      
      &_subheading {
        @include BasicGothicProItalic;
        color: $light;
        font-size: 16px;
        margin: 0;
        padding: 4px 0 8px;

        @media (min-width: 768px) {
          font-size: 20px;
          padding: 10px 0;
        }
      }
      
      &_copy {
        @include BasicGothicProLight;
        color: $light;
        font-size: 10px;
        line-height: 1.5;
        margin: 0;
        padding: 0;

        @media (min-width: 768px) {
          font-size: 15px;
          margin: auto;
          width: 100%;
        }
        
        @media (min-width: 1440px) {
          font-size: 15px;
          margin: auto;
          width: 100%;
        }
        
        @media (min-width: 1920px) {
          font-size: 15px;
          margin: auto;
          width: 65%;
        }
      }
    }
  }
  
  &-full {
    box-sizing: border-box;

    &--content {
      &_image {
        background: url('../images/image-functional-training-rehab-background.jpg') top center no-repeat;
        background-size: cover;
        height: 50vh;
        padding: 85px 40px 100px;
        text-align: center;
        margin-top: 100px;
        opacity: 0;
        transition: margin-top 1s .5s, opacity 2s .5s;
        
        &.fade-in {
          margin-top: 0;
          opacity: 1;
        }

        @media (min-width: 768px) {
          padding: 180px 150px;
        }
        
        @media (min-width: 1024px) {
          height: 100vh;
          padding: 0;
          position: relative;

          &-wrapper {
            position: absolute;
            left: 10%;
            top: 45%;
            transform: translateY(-50%);
            width: 40%;
            text-align: left;
            margin-top: 100px;
            opacity: 0;
            transition: margin-top 1s .5s, opacity 2s .5s;
            
            &.fade-in {
              margin-top: 0;
              opacity: 1;
            }
          }
        }
      }

      &_desc {
        box-sizing: border-box;
        height: 30vh;
        padding: 25px 30px;
        position: relative;
        text-align: center;
      }
      
      &_heading {
        @include BasicGothicProBold;
        color: $light;
        font-size: 28px;
        margin: 0;
        text-transform: uppercase;
        padding: 0;

        @media (min-width: 768px) {
          font-size: 38px;
        }
      }
      
      &_subheading {
        @include BasicGothicProItalic;
        color: $light;
        font-size: 16px;
        margin: 0;
        padding: 4px 0 8px;

        @media (min-width: 768px) {
          font-size: 20px;
        }
      }
      
      &_copy {
        @include BasicGothicProLight;
        color: $light;
        font-size: 10px;
        line-height: 1.5;
        margin: 0;
        padding: 0;

        @media (min-width: 768px) {
          font-size: 16px;
          width: 100%;
        }
        
        @media (min-width: 1440px) {
          font-size: 16px;
          width: 75%;
        }
        
        @media (min-width: 1920px) {
          font-size: 16px;
          width: 50%;
        }
      }
    }
  }

  &-action {
    &--strip {
      @include BasicGothicProBold;
      background: $blue;
      box-sizing: border-box;
      padding: 50px 20px;
      text-align: center;
      width: 100vw;
      margin-top: 100px;
      opacity: 0;
      transition: margin-top 1s .5s, opacity 2s .5s;
      
      &.fade-in {
        margin-top: 0;
        opacity: 1;
      }

      @media (min-width: 768px) {
        padding: 50px 150px;

        .btn {
          margin: 25px 0;
        }
      }
      
      @media (min-width: 1024px) {
        padding: 50px 150px;
        min-height: 370px;

        .btn {
          margin: 25px 0 0 0;
        }
      }
      
      @media (min-width: 1440px) {
        padding: 80px 250px;

        .btn {
          margin: 25px 0 0 0;
        }
      }
    }

    &--text {
      font-size: 26px;
      // margin-top: 100px;
      // opacity: 0;
      // transition: margin-top 1s .5s, opacity 2s .5s;
      
      // &.fade-in {
      //   margin-top: 0;
      //   opacity: 1;
      // }

      @media (min-width: 1024px) {
        font-size: 36px;
        padding: 0 75px;
      }
      
      @media (min-width: 1440px) {
        font-size: 36px;
        padding: 0 140px;
      }
      
      @media (min-width: 1920px) {
        font-size: 36px;
        padding: 0 400px;
      }
      
      @media (min-width: 2560px) {
        font-size: 36px;
        padding: 0 700px;
      }
    }
  }

  &-footer {
    background: $light;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 40px 25px;
    position: relative;
    margin-top: 100px;
    opacity: 0;
    transition: margin-top 1s .5s, opacity 2s .5s;
    
    &.fade-in {
      margin-top: 0;
      opacity: 1;
    }

    @media (min-width: 1024px) {
      flex-direction: row;
      min-height: 200px;
      padding: 40px 20px;
    }
    
    @media (min-width: 1440px) {
      padding: 40px 120px;
    }
    
    @media (min-width: 1920px) {
      padding: 40px 400px;
    }
    
    @media (min-width: 2560px) {
      padding: 40px 700px;
    }

    &--box {
      // border: thin solid red;
      flex-grow: 1;
      position: relative;

      &.-logo {
        display: flex;
        flex-direction: column;

        @media (min-width: 1024px) {
          flex-direction: row;
          width: 120px;
        }
      }
      
      &.-info {
        @media (min-width: 1024px) {
          width: 0;

          &.-small {
            padding-left: 40px;
          }
          
          &.-stack {
            padding-left: 15px;
          }
        }
        
        @media (min-width: 1440px) {
          width: 0;

          &.-small {
            padding-left: 40px;
          }
          
          &.-stack {
            padding-left: 40px;
          }
        }
      }

      &.-slogan {
        @media (min-width: 1024px) {
          line-height: 1.3;
          width: 50px;
        }  
      }
      
      &.-social {
        margin-top: 50px;
        @media (min-width: 1024px) {
          margin-top: 0;
        }  
      }
    }

    &--logo {
      text-align: center;

      .rdx-logo--svg {
        fill: $darkest;

        @media (min-width: 1024px) {
          height: 100%;
          width: 100%;
        }
      }

      @media (min-width: 1024px) {
        height: 50px;
        width: 50px;
      }
    }

    &--heading_wrapper {
      position: relative;
      text-transform: uppercase;
      text-align: center;

      @media (min-width: 1024px) {
        text-align: left;
        padding: 5px;
      }
    }

    &--heading {
      @include BasicGothicProBold;
      font-size: 24px;
      margin: 0;
      padding: 0;

      @media (min-width: 1024px) {
        font-size: 18px;
      }
    }
    
    &--subheading {
      @include BasicGothicProBoldItalic;
      font-size: 16px;
      margin: 0;
      padding: 10px 40px;
      text-align: center;

      @media (min-width: 1024px) {
        padding: 7px 0;
        text-align: left;
      }
    }

    &--address_outer-wrapper {
      .rdx-footer--address {
        color: $darkest;
        display: block;
        text-decoration: none;
      }

      &.-links {
        margin: 15px 0 0 0;
      }

      @media (min-width: 1024px) {
        display: flex;
        flex-direction: column;

        &.-links {
          margin: 0;
        }  
      }
    }

    &--address_wrapper {
      position: relative;
      text-transform: uppercase;
      text-align: center;

      &.-contact {
        @media (min-width: 1024px) {
          margin: 10px 0 0 0;
        }  
      }

      @media (min-width: 1024px) {
        text-align: left;
      }
    }

    &--address {
      @include BasicGothicProLight;
      font-size: 12px;
      margin: 0;
      padding: 10px 0 0 0;

      @media (min-width: 1024px) {
        font-size: 10px;
      }
      
      @media (min-width: 1440px) {
        font-size: 11px;
      }
    }

    .rdx-social {
      bottom: auto;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;

      &--svg {
        @media (min-width: 1024px) {
          height: 25px;
          width: 25px;
        }  
      }

      @media (min-width: 1024px) {
        padding: 0;
      }
    }
  }
}