@import 'brand';

* { box-sizing: border-box; }

// html, body {
//   background: $ssm-key;
//   margin: 0;
//   padding: 0;

//   @include Europa-Regular;
// }

html, body {
  background: #000;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}