.rdx {
  overflow-x: hidden;

  &-contact--label {
    @include BasicGothicProDemibold;
    font-size: 10px;
    color: $blue;
  }

  &-telephone {
    &--contact {
      @include BasicGothicProLight;

      &.-dark {
        color: $dark;
      }
    }

    &--number {
      @include BasicGothicProDemibold;
      color: $blue;
      letter-spacing: -1px;
      text-decoration: none;

      &.-dark {
        color: $dark;
      }
    }
  }

  &-banner--text {
    @include BasicGothicProBlackItalic;
    color: $light;
    font-size: 34px;
    margin: 0;
    text-transform: uppercase;
    z-index: 9;

    @media (min-width: 768px) {
      font-size: 55px;
    }
    
    @media (min-width: 1024px) {
      font-size: 64px;
      line-height: 1;
    }

    @media (min-width: 1440px) {
      font-size: 90px;
    }
    
    @media (min-width: 1920px) {
      font-size: 130px;
    }
  }
  
  &-banner--subtext {
    @include BasicGothicProBook;
    color: $light;
    display: none;
    font-size: 10px;
    width: 100%;
    z-index: 9;

    @media (min-width: 1024px) {
      display: block;
      font-size: 14px;
      line-height: 1.5;
      width: 60%;
    }
    
    @media (min-width: 1440px) {
      font-size: 18px;
      line-height: 1.5;
      width: 60%;
    }
    
    @media (min-width: 1920px) {
      font-size: 18px;
      line-height: 1.55;
    }
    
    @media (min-width: 1920px) {
      font-size: 18px;
      line-height: 1.55;
      width: 42%;
    }
    
    @media (min-width: 2560px) {
      font-size: 18px;
      line-height: 1.55;
      width: 45%;
    }
  }

  &-banner--video {
    overflow: hidden;
    position: relative;
    width: 100vw;

    @media (min-width: 768px) {
      max-height: 430px;
    }
    
    @media (min-width: 768px) {
      max-height: 575px;
    }
    
    @media (min-width: 1440px) {
      max-height: 810px;
    }
    
    @media (min-width: 1920px) {
      max-height: 100vh;
    }
  }

  &-contact--form {
    bottom: 75px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 90%;

    .form-elements {
      display: flex;
      flex-direction: column;

      @media (min-width: 1024px) {
        bottom: 200px;
        flex-direction: row;
      }

      .button-success {
        @include BasicGothicProDemibold;
        background: $dark-base;
        border-radius: 50px;
        border: 0;
        box-shadow: inset 0 0 3px $light-base;
        color: $light;
        font-size: 14px;
        margin: 10px auto;
        padding: 20px 100px;
        text-transform: uppercase;
        transition: all .35s ease-out;
        width: 80%;

        &:hover {
          background: $light-base;
          color: $light;
          cursor: pointer;
        }

        @media (min-width: 1024px) {
          padding: 10px 100px;
        }
      }
    }

    .pure-group {
      border: 0;

      &--label {
        @include BasicGothicProDemibold;
        color: $light;
        display: block;
        font-size: 10px;
        margin-bottom: 10px;
        text-transform: uppercase;
      }
      
      &--input {
        @include BasicGothicProDemibold;
        background: transparent;
        border: 0;
        border-bottom: thin solid $light;
        color: $darkest;
        font-size: 14px;
        padding: 10px;
        text-transform: uppercase;
        width: 100%;

        @media (min-width: 1024px) {
          padding: 20px 10px 10px;
          width: 300px;
        }
        
        @media (min-width: 1280px) {
          padding: 20px 10px 10px;
          width: 450px;
        }
        
        @media (min-width: 1920px) {
          padding: 20px 10px 10px;
          width: 650px;
        }
        
        @media (min-width: 2560px) {
          padding: 20px 10px 10px;
          width: 950px;
        }
      }

      &.honeypot-field {
        display: none;
      }
    }
  }
}