.rdx {
  .btn {
    @include BasicGothicProBook;
    border-radius: 100px;
    color: $light;
    display: inline-block;
    font-size: 12px;
    margin: 7px 3px;
    padding: 15px 0;
    text-decoration: none;
    text-align: center;
    transition: all .35s ease-out;
    width: 230px;

    @media (min-width: 768px) {
      font-size: 18px;
      margin: 50px 20px;
      padding: 25px 0;
      width: 340px;
    }
    
    @media (min-width: 1024px) {
      font-size: 18px;
      margin: 50px 20px;
      padding: 20px 0;
      width: 330px;
    }

    &.-line {
      box-shadow: inset 0 0 0 3px $light;

      &:hover {
        background: $light-base;
        cursor: pointer;
        color: $light;
      }
    }
    
    &.-filled {
      background: transparent;
      box-shadow: inset 0 0 0 3px $blue;
      color: $light;

      &:hover {
        background: $light-base;
        box-shadow: inset 0 0 0 3px $light-base;
        cursor: pointer;
        color: $light;
      }
    }

    &.-dark {
      box-shadow: inset 0 0 0 3px $blue;
      color: $light;

      &:hover {
        background: $light-base;
        cursor: pointer;
        color: $light;
        box-shadow: inset 0 0 0 3px $light-base;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }
}