.rdx {
  &-panoramic {
    &[data-dir='prev'],
    &[data-dir='next'] {
      // border: thin solid red;
      color: $light;
      font-size: 70px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
    }

    &[data-dir='prev'] {
      left: 50px;
    }
    
    &[data-dir='next'] {
      right: 50px;
    }
  }

  &-orbs {
    left: 0;
    position: absolute;
    top: 0;

    &--point {
      background: rgba($light-base, .25);
      border-radius: 100%;
      height: 75px;
      width: 75px;

      &:before {
        border: 2px solid rgba($light-base, 1);
        border-radius: 100%;
        content: '';
        height: 25px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 25px;
      }

      &.-p1 {
        left: 30vw;
        position: absolute;
        top: 300px;
      }
      
      &.-p2 {
        left: 60vw;
        position: absolute;
        top: 700px;
      }
    }
  }

  &-modal {
    background: $dark-base;
    display: none;
    height: 55%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    z-index: 1;

    &[data-active='true'] {
      display: block;
    }

    &--exit {
      height: 35px;
      position: absolute;
      right: 20px;
      top: 20px;
      width: 35px;
      z-index: 1;

      &_svg {
        height: 100%;
        width: 100%;
      }
    }

    &--content {
      display: flex;
      height: 100%;

      &_image {
        background: url('../images/overview-tour-1a-modal-balance.jpg') top center no-repeat;
        background-size: cover;
        height: 100%;
        width: 50%;
      }
      
      &_copy {
        color: $light;
        height: 100%;
        position: relative;
        width: 50%;

        &-header {
          @include BasicGothicProBold;
          font-size: 42px;
          margin: 0 0 15px 0;
          padding: 0
        }
        
        &-text {
          @include BasicGothicProBook;
          font-size: 14px;
          line-height: 1.5;
          margin: 0;
          padding: 0
        }

        &-inner {
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}