.rdx {
  &-panoramic {
    opacity: 0;

    &[data-active='true'] {
      opacity: 1;
    }

    &--bumper {
      &[data-dir='prev'],
      &[data-dir='next'] {
        // border: thin solid red;
        color: $light;
        font-size: 40px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;

        @media (min-width: 1024px) {
          font-size: 70px;
        }
      }

      &[data-dir='prev'] {
        left: 20px;

        @media (min-width: 1024px) {
          left: 50px;
        }
      }
      
      &[data-dir='next'] {
        right: 20px;

        @media (min-width: 1024px) {
          right: 50px;
        }
      }
    }
  }

  &-orbs {
    cursor: pointer;
    left: 0;
    position: absolute;
    top: 0;

    &--point {
      background: rgba($light-base, .25);
      border-radius: 100%;
      display: none;
      height: 55px;
      width: 55px;

      @media (min-width: 1024px) {
        height: 75px;
        width: 75px;
      }

      &:before {
        border: 2px solid rgba($light-base, 1);
        border-radius: 100%;
        content: '';
        height: 15px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all .25s ease-out;
        width: 15px;

        @media (min-width: 1024px) {
          height: 25px;
          width: 25px;
        }
      }

      &[data-detail='balance'] {
        left: 10vw;
        position: absolute;
        top: 25vh;

        &[data-active='true'] {
          display: block;
        }

        @media (min-width: 1024px) {
          left: 30vw;
          top: 20vh;
        }
      }
      
      &[data-detail='experts'] {
        left: 60vw;
        position: absolute;
        top: 60vh;

        &[data-active='true'] {
          display: block;
        }

        @media (min-width: 1024px) {
          left: 60vw;
          top: 50vh;
        }
      }
      
      &[data-detail='performance'] {
        left: 10vw;
        position: absolute;
        top: 25vh;

        &[data-active='true'] {
          display: block;
        }

        @media (min-width: 1024px) {
          left: 30vw;
          top: 20vh;
        }
      }
      
      &[data-detail='recovery'] {
        left: 60vw;
        position: absolute;
        top: 60vh;

        &[data-active='true'] {
          display: block;
        }

        @media (min-width: 1024px) {
          left: 70vw;
          top: 55vh;
        }
      }
      
      &[data-detail='success'] {
        left: 10vw;
        position: absolute;
        top: 25vh;

        &[data-active='true'] {
          display: block;
        }

        @media (min-width: 1024px) {
          left: 25vw;
          top: 60vh;
        }
      }
      
      &[data-detail='functional'] {
        left: 60vw;
        position: absolute;
        top: 60vh;

        &[data-active='true'] {
          display: block;
        }

        @media (min-width: 1024px) {
          left: 45vw;
          top: 50vh;
        }
      }
      
      &[data-detail='approach'] {
        left: 10vw;
        position: absolute;
        top: 25vh;

        &[data-active='true'] {
          display: block;
        }

        @media (min-width: 1024px) {
          left: 35vw;
          top: 55vh;
        }
      }
      
      &[data-detail='fitness'] {
        left: 60vw;
        position: absolute;
        top: 60vh;

        &[data-active='true'] {
          display: block;
        }

        @media (min-width: 1024px) {
          left: 60vw;
          top: 25vh;
        }
      }
    }
  }

  &-modal {
    background: $dark-base;
    display: none;
    height: 55%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    z-index: 1;

    &[data-active='true'] {
      display: block;
    }

    &--exit {
      height: 35px;
      position: absolute;
      right: 20px;
      top: 20px;
      width: 35px;
      z-index: 1;

      &_svg {
        height: 100%;
        width: 100%;
      }
    }

    &--content {
      display: flex;
      height: 100%;

      &_image {
        background: url('../images/overview-tour-1a-modal-balance.jpg') top center no-repeat;
        background-size: cover;
        height: 100%;
        width: 50%;
      }
      
      &_copy {
        color: $light;
        height: 100%;
        position: relative;
        width: 50%;

        &-header {
          @include BasicGothicProBold;
          font-size: 42px;
          margin: 0 0 15px 0;
          padding: 0
        }
        
        &-text {
          @include BasicGothicProBook;
          font-size: 14px;
          line-height: 1.5;
          margin: 0;
          padding: 0
        }

        &-inner {
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}