.rdx {
  overflow-x: hidden;

  &-telephone {
    font-size: 12px;
    left: 50%;
    position: absolute;
    top: 25px;
    transform: translateX(-50%);
    z-index: 1;

    @media (min-width: 375px) {
      font-size: 14px;
    }

    @media (min-width: 768px) {
      font-size: 18px;
      top: 35px;
    }

    @media (min-width: 1024px) {
      font-size: 16px;
      left: 80%;
      top: 30px;
    }
    
    @media (min-width: 1280px) {
      font-size: 16px;
      left: 80%;
      top: 63px;
    }
    
    @media (min-width: 1440px) {
      font-size: 16px;
      left: 82%;
      top: 63px;
    }
    
    @media (min-width: 1920px) {
      font-size: 16px;
      left: 85%;
    }

    &--contact {
      @include BasicGothicProBook;
      color: $light;
      margin-right: 5px;
    }

    &--number {
      @include BasicGothicProBold;
      color: $blue;
      text-decoration: none;
    }
  }

  &-banner--text {
    @include BasicGothicProBlackItalic;
    color: $light;
    font-size: 34px;
    margin: 0;
    text-transform: uppercase;
    z-index: 9;

    @media (min-width: 768px) {
      font-size: 55px;
    }
    
    @media (min-width: 1024px) {
      font-size: 64px;
      line-height: 1;
    }

    @media (min-width: 1440px) {
      font-size: 90px;
    }
    
    @media (min-width: 1920px) {
      font-size: 135px;
    }
  }
  
  &-banner--subtext {
    @include BasicGothicProBook;
    color: $light;
    display: none;
    font-size: 10px;
    width: 80%;
    z-index: 9;

    @media (min-width: 1024px) {
      display: block;
      font-size: 14px;
      line-height: 1.5;
      width: 60%;
    }
    
    @media (min-width: 1440px) {
      font-size: 18px;
      line-height: 1.5;
      width: 60%;
    }
    
    @media (min-width: 1920px) {
      font-size: 18px;
      line-height: 1.55;
    }
    
    @media (min-width: 1920px) {
      font-size: 18px;
      line-height: 1.55;
      width: 42%;
    }
    
    @media (min-width: 2560px) {
      font-size: 18px;
      line-height: 1.55;
      width: 45%;
    }
  }

  &-banner--full {
    overflow: hidden;
    position: relative;
    height: 50vh;
    width: 100vw;

    @media (min-width: 1024px) {
      height: 100vh;
    }

    &.-approach {
      background: url('../images/method-banner-static-bg.jpg') top center no-repeat;
      background-size: cover;

      .rdx-banner--full_copy {
        text-align: center;
        top: 35%;
        z-index: 1;

        @media (min-width: 375px) {
          top: 32%;
          width: 85%;
        }
        
        @media (min-width: 768px) {
          left: 40px;
          top: 310px;
          width: 85%;
        }
        
        @media (min-width: 1024px) {
          left: 40px;
          top: 280px;
          width: 60%;
        }
        
        @media (min-width: 1440px) {
          left: 50px;
          top: 330px;
          width: 60%;
        }
        
        @media (min-width: 1920px) {
          left: 100px;
          top: 450px;
          width: 45%;
        }
      }

      .rdx-banner--text {
        width: 100%;
        
        @media (min-width: 375px) {
          font-size: 38px;
        }
        
        @media (min-width: 400px) {
          font-size: 42px;
        }
        
        @media (min-width: 768px) {
          line-height: 1.1;
          font-size: 72px;
        }
        
        @media (min-width: 1440px) {
          line-height: 1.1;
          font-size: 100px;
        }
        
        @media (min-width: 1920px) {
          line-height: 1.1;
          font-size: 130px;
        }
      }
      
      .rdx-banner--subtext {
        display: block;

        @media (min-width: 375px) {
          font-size: 12px;
          line-height: 1.5;
        }
        
        @media (min-width: 768px) {
          font-size: 20px;
          line-height: 1.5;
        }

        @media (min-width: 1024px) {
          font-size: 16px;
          margin: 0;
          width: 70%;
        }
        
        @media (min-width: 1920px) {
          font-size: 18px;
          width: 100%;
        }
      }

      @media (min-width: 1920px) {
        height: 100vh;
      }
    }
    
    &.-contact {
      background: #1ff57a;
      background: -moz-linear-gradient(bottom,  #1ff57a 0%, #08f4ca 100%);
      background: -webkit-linear-gradient(bottom,  #1ff57a 0%,#08f4ca 100%);
      background: linear-gradient(to top,  #1ff57a 0%,#08f4ca 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ff57a', endColorstr='#08f4ca',GradientType=1 );
    }

    &_copy {
      width: 100%;
      left: 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 90%;

      @media (min-width: 768px) {
        left: 50px;
        position: absolute;
        top: 50%;
        width: 70%;
      }

      @media (min-width: 1024px) {
        left: 50px;
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        width: 60%;
      }
      
      @media (min-width: 1440px) {
        left: 70px;
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        width: 60%;
      }
      
      @media (min-width: 1920px) {
        left: 70px;
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        width: 60%;
      }
      
      @media (min-width: 2560px) {
        left: 70px;
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        width: 50%;
      }
    }
  }

  &-banner--video {
    overflow: hidden;
    position: relative;
    width: 100vw;

    @media (min-width: 768px) {
      max-height: 430px;
    }
    
    @media (min-width: 768px) {
      max-height: 575px;
    }
    
    @media (min-width: 1440px) {
      max-height: 810px;
    }
    
    @media (min-width: 1920px) {
      max-height: 100vh;
    }
  }
}